<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentDataServlet</servlet-name>
        <servlet-class>StudentDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <servlet-class>GeneratePDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentData</servlet-name>
        <servlet-class>updateStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrator</servlet-name>
        <servlet-class>Administrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorCollege</servlet-name>
        <servlet-class>AdministratorCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCollege</servlet-name>
        <servlet-class>StaffCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OthersStaffCollege</servlet-name>
        <servlet-class>OthersStaffCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search1</servlet-name>
        <servlet-class>Search1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search2</servlet-name>
        <servlet-class>Search2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search3</servlet-name>
        <servlet-class>Search3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewemployee</servlet-name>
        <servlet-class>viewemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editreturn</servlet-name>
        <servlet-class>Editreturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstaffemployee</servlet-name>
        <servlet-class>viewstaffemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee1</servlet-name>
        <servlet-class>employee1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editreturn1</servlet-name>
        <servlet-class>Editreturn1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet1</servlet-name>
        <servlet-class>EditServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete1</servlet-name>
        <servlet-class>Delete1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewnonstaffemployee</servlet-name>
        <servlet-class>viewnonstaffemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee2</servlet-name>
        <servlet-class>employee2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editreturn2</servlet-name>
        <servlet-class>Editreturn2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet2</servlet-name>
        <servlet-class>EditServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete2</servlet-name>
        <servlet-class>Delete2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstudentlist</servlet-name>
        <servlet-class>viewstudentlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee3</servlet-name>
        <servlet-class>employee3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editreturn3</servlet-name>
        <servlet-class>Editreturn3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet3</servlet-name>
        <servlet-class>EditServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete3</servlet-name>
        <servlet-class>Delete3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDataServlet</servlet-name>
        <url-pattern>/StudentDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <url-pattern>/GeneratePDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentData</servlet-name>
        <url-pattern>/updateStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/Administrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorCollege</servlet-name>
        <url-pattern>/AdministratorCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCollege</servlet-name>
        <url-pattern>/StaffCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OthersStaffCollege</servlet-name>
        <url-pattern>/OthersStaffCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search1</servlet-name>
        <url-pattern>/Search1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search2</servlet-name>
        <url-pattern>/Search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search3</servlet-name>
        <url-pattern>/Search3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewemployee</servlet-name>
        <url-pattern>/viewemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editreturn</servlet-name>
        <url-pattern>/Editreturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstaffemployee</servlet-name>
        <url-pattern>/viewstaffemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee1</servlet-name>
        <url-pattern>/employee1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editreturn1</servlet-name>
        <url-pattern>/Editreturn1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet1</servlet-name>
        <url-pattern>/EditServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete1</servlet-name>
        <url-pattern>/Delete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewnonstaffemployee</servlet-name>
        <url-pattern>/viewnonstaffemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee2</servlet-name>
        <url-pattern>/employee2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editreturn2</servlet-name>
        <url-pattern>/Editreturn2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet2</servlet-name>
        <url-pattern>/EditServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete2</servlet-name>
        <url-pattern>/Delete2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstudentlist</servlet-name>
        <url-pattern>/viewstudentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee3</servlet-name>
        <url-pattern>/employee3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editreturn3</servlet-name>
        <url-pattern>/Editreturn3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet3</servlet-name>
        <url-pattern>/EditServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete3</servlet-name>
        <url-pattern>/Delete3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
